.root {
  display: flex;
  align-items: center;
  min-height: 50vh;
}

.showcase {
  flex-shrink: 0;
  width: 50%;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;

  .title {
    margin-bottom: 8px;
  }
  .description {
    margin-bottom: 8px;
  }

  .built-with {
    display: flex;
    gap: 8px;

    &-title {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
}
