.root {
  display: flex;
  height: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid black;

  .plane-selected-text {
    font-weight: 700;
  }

  .properties {
    .property {
      margin-bottom: 4px;
      padding: 4px;
      border: 1px solid black;

      .input-container {
        display: flex;

        input {
          width: 100%;
          margin-right: 8px;
        }

        button {
          flex-shrink: 0;
        }
      }
    }
  }

  .show-code-button {
    margin-top: auto;
  }
}

.playground {
  overflow: hidden;
  position: relative;
  width: 100%;
  border: 1px solid black;

  .rotater {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0px;
    width: 132.689px;
    height: 150px;
  }

  .helper {
    position: absolute;
    height: 100px;
    width: 100px;
    transform: rotateX(45deg) rotateY(45deg);
    box-sizing: border-box;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: top left;

    .x-plane {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotateX(90deg);

      background-color: blue;
      border: 1px dashed blue;
    }

    .y-plane {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotateY(90deg);

      background-color: green;
      border: 1px dashed green;
    }

    .z-plane {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotateZ(90deg);

      border: 1px dashed red;
    }
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  margin-left: 8px;
  padding: 8px;
  border: 1px solid black;

  .property {
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid black;
  }
}
