// NOTE: Import global css variables
@import './variables/theme.scss';

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&family=Marcellus&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid blueviolet;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;

  color: var(--color-paragraph-text);
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}
