.title-text {
  color: hsl(var(--col-title));
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.subtitle {
  color: hsl(var(--col-subtitle));

  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.heading {
  color: hsl(var(--col-heading));
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
}

.paragraph {
  color: hsl(var(--col-paragraph));
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 165%;
}

.subparagraph {
  color: hsl(var(--col-paragraph));
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 165%;
  letter-spacing: -0.28px;
}
