.root {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  user-select: none;

  &:hover {
    .front {
      transform: translateY(-6px);
    }
    .shadow {
      transform: translateY(5px);
    }
  }

  &:active {
    .front {
      transform: translate(0px, -2px);
    }
    .shadow {
      transform: translateY(2px);
    }
  }
}

.front {
  transform: translateY(-5px);
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid darken(#845ef7, 10);
  transition: transform 0.2s cubic-bezier(0.3, 0.7, 0.4, 1);
  color: white;

  font-weight: 700;
  background-color: #845ef7;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  border-radius: 2px;
  border: 1px solid darken(#845ef7, 10);

  background-color: darken(#845ef7, 5);
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  transform: translateY(4px);
  border-radius: 2px;
  transition: transform 0.2s cubic-bezier(0.3, 0.7, 0.4, 1);

  filter: blur(3px);
  background-color: rgba(27, 22, 48, 0.2);
}

//
.size {
  &-sm {
    .front {
      padding: 4px 8px;
    }
  }
  &-md {
  }
}

.width {
  &-fit-content {
    width: fit-content;
  }

  &-fit-container {
    width: 100%;
  }
}
