.root {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  user-select: none;

  display: flex;
  justify-content: center;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 8px;

  transition: transform 0.2s cubic-bezier(0.3, 0.7, 0.4, 1);
}

.color {
  &-purple {
    --col-button: var(--col-foreground);
    --col-button-contrast: var(--col-paragraph);
  }
  &-white {
    --col-button: var(--col-paragraph);
    --col-button-contrast: var(--col-background);
  }
}

.variant {
  &-solid {
    color: hsl(var(--col-button-contrast));
    background-color: hsl(var(--col-button));

    &:hover {
    }

    &:active {
    }
  }
  &-outlined {
    color: hsl(var(--col-button));
    border: 1px solid hsl(var(--col-button));
    background-color: transparent;

    &:hover {
      background-color: hsla(var(--col-button), 0.05);
    }

    &:active {
      background-color: hsla(var(--col-button), 0.1);
    }
  }
  &-transparent {
    color: hsl(var(--col-button));
    background-color: transparent;

    &:hover {
      background-color: hsla(var(--col-button), 0.05);
    }

    &:active {
      background-color: hsla(var(--col-button), 0.1);
    }
  }
}

.size {
  &-sm {
    .front {
      padding: 4px 8px;
    }
  }
  &-md {
  }
}

.width {
  &-fit-content {
    width: fit-content;
  }

  &-fit-container {
    width: 100%;
  }
}
