.root {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  user-select: none;

  display: flex;
  justify-content: center;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 8px;

  transition: transform 0.2s cubic-bezier(0.3, 0.7, 0.4, 1);
}

.variant {
  &-solid {
    color: var(--color-paragraph-text);
    background-color: rgb(63, 94, 251);

    &:hover {
    }

    &:active {
    }
  }
  &-outlined {
    color: rgb(63, 94, 251);
    border: 1px solid rgb(63, 94, 251);
    background-color: transparent;

    &:hover {
    }

    &:active {
    }
  }
  &-transparent {
    &.color {
      &-purple {
        color: rgb(63, 94, 251);
        background-color: transparent;

        &:hover {
          background-color: rgba(63, 94, 251, 0.05);
        }

        &:active {
          background-color: rgba(63, 94, 251, 0.1);
        }
      }
      &-white {
        color: rgb(255, 255, 251);
        background-color: transparent;

        &:hover {
          background-color: rgba(255, 255, 251, 0.05);
        }

        &:active {
          background-color: rgba(255, 255, 251, 0.1);
        }
      }
    }
  }
}

.size {
  &-sm {
    .front {
      padding: 4px 8px;
    }
  }
  &-md {
  }
}

.width {
  &-fit-content {
    width: fit-content;
  }

  &-fit-container {
    width: 100%;
  }
}
