.root {
  margin-bottom: 8px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.showcase {
  flex-shrink: 0;
  height: 50%;
}

.image {
  width: 100%;
  aspect-ratio: 16/8;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;

  .title {
    margin-bottom: 8px;
  }
  .description {
    margin-bottom: 8px;
  }

  .built-with {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;

    &-title {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }

  .button-group {
    display: flex;
    gap: 8px;
  }
}
