:root {
  &.theme--dark {
    // All colors are in HSL format
    --col-highlight: 47, 100%, 62%;
    --col-foreground: 230, 96%, 62%;
    --col-background: 212, 32%, 8%;
    --col-card: 208, 89%, 12%;
    --col-icon: 210, 14%, 89%;

    --col-title: 47, 100%, 62%;
    --col-subtitle: 210, 17%, 95%;
    --col-heading: 210, 17%, 95%;
    --col-subheading: 210, 17%, 95%;
    --col-paragraph: 210, 14%, 89%;
  }

  &.theme--light {
  }
}
