.root {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 0.3s all;

  p {
    transition: 0.3s all;
    transition-delay: 0.3s;
    transform: translateX(-34px);
  }

  svg {
    margin-right: 8px;

    path {
      transition: 0.4s all;

      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      stroke-dashoffset: 1;
    }
  }

  &:hover {
    p {
      transform: translateX(0px);
      transition-delay: 0s;
    }

    svg {
      path {
        stroke-dashoffset: 0;
      }
    }
  }

  &.is-active {
    p {
      transform: translateX(0px);
    }

    svg {
      path {
        stroke-dashoffset: 0;
      }
    }
  }
}
