.root {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 0.3s all;

  svg {
    margin-right: 8px;

    path {
      transition: 0.4s all;

      stroke: #dadada;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      stroke-dashoffset: 1;
    }
  }

  &:hover,
  &.is-active {
    svg {
      path {
        background-color: var(--primary-text);
        stroke-dashoffset: 0;
      }
    }

    p {
      color: var(--primary-text);
    }
  }
}
