.root {
  position: sticky;
  top: 40px;
  flex-shrink: 0;
  width: 320px;
}

.title-container {
  text-decoration: none;
  display: flex;
  margin-bottom: 16px;
  margin-left: 32px;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

.slider {
  z-index: -1;
  position: absolute;
  transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &--hover {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    right: -10px;
    background-color: #dee2e6;
  }

  &--active {
    width: 100%;
    border-radius: 4px;
    background-color: #dee2e6;
  }
}
