@import '../../styles/media.scss';

.root {
  position: sticky;
  top: 40px;
  flex-shrink: 0;
  padding: 0 16px 0 32px;

  @include tablet-sm {
    display: none;
  }
}

.title-container {
  text-decoration: none;
  display: flex;
  margin-bottom: 16px;
  margin-left: 32px;
}

.subtitle {
  margin-left: 32px;
  margin-bottom: 40px;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

.slider {
  z-index: -1;
  position: absolute;
  transition: 0.2s all;

  &--hover {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: hsl(var(--col-paragraph));
    opacity: 0.5;
  }

  &--active {
    width: 100%;
    border-radius: 4px;
    background-color: hsl(var(--col-paragraph));
    opacity: 0.2;
  }
}
